.developers{
    margin:0 auto;
    display:flex;
    justify-content: center;
    height: 100vh;
    border:none;
    overflow: hidden;
}

.developersCard{
    margin:auto;
    display:flex;
    background-color: none;
    border:transparent;
    margin: 10rem;
    text-align: center;
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.developersBody{
    background-color: slategrey;
    border:transparent;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow: hidden;
    height: 100vh;
    border-radius: 10px;
}