.developers{
    margin:0 auto;
    display:flex;
    justify-content: center;
    height: 100vh;
    border:none;
}

.developersCard{
    margin:auto;
    display:flex;
    background-color: none;
    border:transparent;
    margin: 10rem;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    align-items: cent;
    align-content: center;
}

.developersBody{
    background-color: slategrey;
    border:transparent;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width:600px){
    .developersCard{
      width:80%;
      height:80vh;
    }
    .developers{
        width:100%;
        /* height:100vh; */
        display:flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

.img{
    width:40%;
    height:40%;
    margin:1rem auto;
}
