.booksH1{
    margin: 2rem auto;
    text-align: center;
}

.booksCarousel .booksImg{
    width: 70vw;
    height:80vh;
    margin:auto;
}

.booksCarousel{
    width:30%;
    height:40%;
    margin:1rem auto 10rem auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 


.booksDesc{
    background-color: slategray;
    color:black;
    opacity: 0.75;
    margin:1rem;
} 

.booksItem img{
    width: 50%;
    height:60%;
    margin:auto;
}

.booksItem h3{
    background-color: slategray;
    color:black;
    opacity: 0.75;
    margin:1rem;
}

@media (max-width:600px){
    .booksCarousel{
      width:80%;
      height:80%;
    }
}