#submitBtn{
    margin-top:10px;
    width:20%;
    background-color:rgb(48, 49, 49);
    height:3rem;
    margin-right: 10px;
    background-color: transparent;
    border-color: rgba(131,100,161,1);
}

#submitBtn:hover{
    background-color: rgba(131,100,161,1 );
    color:white;
}