.drawer{
  background-color: rgb(130, 145, 211);
}

#searchBtn{
  background-color: green;
  color:white
}

#searchBtn:hover{
  background-color: rgb(48, 49, 49);
  color:white
}

.nav{
  background-color: rgb(48, 49, 49);
  position: sticky;
  top:0;
  z-index: 9;
}

#createButton{
  background-color: rgb(48, 49, 49);
  margin-top: 20px;
  width:100%;
  margin: auto;
}

#createButton:hover{
  background-color: green;
}

a{
  color:#fff;
}

a:hover{
  color:darkgrey;
}

.logo{
  font-size: 2rem;
}

.nav-link{
  text-decoration: none;
  color:white;
}

h6{
  color:white;
  margin: 1rem
}

.me-4{
  width: 90%;
}

.toggle{
  color:yellow
}

.d-flex{
  margin-bottom:1rem;
}